<div class="row">        <!-- first day -->
  <div class="col-md-6">
    <h3>August 16</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td> </tr>
      <tr> <td>9:00</td>  <td>Introduction</td> </tr>
      <tr> <td>9:10</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python (Continued)</a></td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>July 17</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
